ENV=dev
# dev | prod

# Web server settings
MAIN_DOMAIN_NAME=localhost #a-sharapov.com
DOMAIN_NAME_EMAIL=webmaster@a-sharapov.com
CERTBOT_SERVICE_NAME=a-sharapov_certbot
NGINX_SERVICE_NAME=a-sharapov_proxy

# App settings
WEB_SERVICE_NAME=a-sharapov_web
WEB_PORT=5701
WEB_ROOT=/var/www/a-sharapov

# BOT informer
TG_SERVICE_NAME=a-sharapov_bot
TG_ROOT=/var/www/bot
TG_TOKEN="<!getFromBotFather>"
TG_ACCESS_KEY="<!uniquePasskey>"    # auto generated with make dot-env
TG_MANAGER_TOKEN="<!uniquePasskey>" # auto generated with make dot-env
TG_PORT=5702
