.viewSwitcher {
  display: flex;
  gap: 0.25em;
  align-items: center;
  margin: 0 2em;

  input[type='checkbox'].ambivalent {
    transition: 0.3s;
    width: 2em;
    height: 1.2rem;
    background-size: 0.75em;
  }

  input[type='checkbox'].ambivalent {
    background-image: url(/i/2d.svg);
    background-position: 0.3em center;
  }

  input:checked[type='checkbox'].ambivalent {
    background-image: url(/i/3d.svg);
    background-position: calc(100% - 0.3em) center;
  }
}
