@charset "utf-8";

:root {
  --colorDanger: #eb3d26;
  --colorAlert: #f87e25;
  --colorSuccess: #4caf50;
  --colorInfo: #368ace;

  --baseColor: #d71e00;
  --baseColorDark: #792012;
  --baseColorDarkT: #79201240;
  --baseLight: #fefefe;
  --baseDark: #333;
  --baseDarker: #111;
  --baseBorder: #777;
  --baseBorderDark: #555;
  --baseBorderLight: #ccc;
  --baseDarkTextShadow: #00000050;
  --baseLightTextShadow: #ffffff99;
  --baseDarkBoxShadow: #00000080;
  --baseLightTransparent: #fefefe20;
  --baseDarkTransparent: #33333320;

  --textMainColor: #333;
  --textMainShadowColor: #ffffff80;

  --linkColor: #d71e00;
  --linkVisitedColor: #9b2614;
  --linkHoverColor: #ee4329;
}
