@charset "utf-8";

:root {
  --baseIndex: calc(1vw + 1vh);

  --iconAlert: url(../i/alert.svg);
  --iconChecked: url(../i/checked.svg);
  --iconDate: url(../i/date.svg);
  --iconExpander: url(../i/expander.svg);
  --iconInfo: url(../i/info.svg);
  --iconRound: url(../i/round.svg);
  --iconSuccess: url(../i/success.svg);
  --iconPaperclip: url(../i/paperclip.svg);
  --iconError: url(../i/error.svg);

  --signClose: url(../i/close.svg);
  --signHr: url(../i/hr.svg);

  --loading: url(../i/loading.svg);

  --bgNoize: url(../i/noize.png);
}
