.locales {
  --multiplier: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-transform: uppercase;
  gap: 0;
  padding: 0;
  justify-content: center;
  font-size: 0.8em;

  & > .localeItem {
    display: inline-flex;
    width: 100%;
    padding: 0 0.2em;
    align-items: center;
  }

  span {
    font-weight: bold;
  }

  a {
    color: var(--primary);
    text-decoration-style: dotted;
    text-underline-offset: 0.2em;
    text-decoration-thickness: 1px;
    transition: 0.2s;

    &:hover {
      text-decoration-style: solid;
    }
  }
}
