nav[data-role='locales'] {
  --multiplier: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-transform: capitalize;
  gap: 0.5em;
  padding: 0;
  margin: -1px 0 0;
  justify-content: center;
  font-size: 0.8em;
  color: var(--dark);

  .localeItem {
    position: relative;
    display: inline-flex;
    width: 100%;
    align-items: center;
    padding: 0.75rem 0.5em;
    border-top: 1px solid transparent;

    &:is(span) {
      font-weight: bold;
      border-top-color: var(--primary);

      &:before {
        content: '';
        position: absolute;
        display: block;
        inset: 0;
        bottom: auto;
        width: 100%;
        height: 2px;
        background: var(--primary);
        filter: blur(7px);
      }
    }

    &:is(a) {
      color: inherit;
      text-underline-offset: 0.3em;
      text-decoration-thickness: 1px;
      text-decoration-style: solid;
      text-decoration-color: var(--primary);
      transition: 0.2s;
    }
  }

  .localeSeparator {
    color: var(--grayDark);
  }

  [data-theme='dark'] & {
    color: var(--grayLight);
  }
}
