canvas {
  --ambientColor: #e1e1e1;

  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: 0;
  background: var(--ambientColor);

  [data-theme='dark'] & {
    filter: grayscale(0.85) sepia(0.15) brightness(0.35) contrast(1.25) hue-rotate(210deg);
  }
}
