---
import Vcard from "components/Vcard/Vcard.svelte";
import Main from "layouts/Main.astro";

import "styles/intro.css";
---

<Main modifier="main">
  <article>
    <Vcard transition:animate="fade" client:visible />
  </article>
</Main>
