---
import TimelineCasebox from "chunks/TimelineCasebox.astro";
import TimelineContentbox from "chunks/TimelineContentbox.astro";
import Folio from "layouts/Folio.astro";

import Examples from "components/Examples/Examples.svelte";
import PreviewGallery from "components/PreviewGallery/PreviewGallery.svelte";
---

<Folio>
  <TimelineCasebox>
    <Examples
      client:visible
      addons={[
        "/folio/2010-2013/avf.png",
        "/folio/2010-2013/nusa-dua-night.png",
        "/folio/2010-2013/vsevland.png",
        "/folio/2010-2013/an2-teaser.png",
        "/folio/2010-2013/shugaring.png",
      ]}
      content={[
        {
          title: "Сайт под ключ",
          description: "Сайт компании по ремонту компьютерной техники",
          mainSrc: "/folio/2010-2013/pulsepc/index.png",
          logoSrc: "/folio/2010-2013/pulsepc/logo.png",
        },
        {
          title: "Сайт под ключ",
          description: "Сайт компании по продаже недвижимости",
          mainSrc: "/folio/2010-2013/igorki/index.png",
          logoSrc: "/folio/2010-2013/igorki/logo.png",
        },
      ]}
      slot="slider"
    />
    <div class="timeline-stamp" slot="content">2010 &ndash; 2013</div>
    <h2 slot="content">Дизайнер-верстальщик</h2>
    <p slot="content">
      Как только я начал заниматься Веб-дизайном, то практически сразу пришёл к
      выводу, что сделать макет с минимальным количеством правок очень сложно,
      если не владеешь основами и принципами вёрстки и программирования - поэтму
      начал изучать HTML, CSS, JS и PHP. В эти времена была популярна <strong
        >CMS Joomla</strong
      > и <strong>jQuery</strong>.
    </p>
    <p slot="content">
      Я любою рисовать, поэтому работа над дизайном мне приносила большое
      удовольствие, а вот работа над кодом - в основном страдание, по крайней
      мере до тех пор, пока я не попробовал <strong>MODX Evolution</strong>.
    </p>
    <hr slot="content" />
    <h4 slot="content">Стек технологий:</h4>
    <p slot="content">
      <img
        src="https://img.shields.io/badge/Joomla-eee?style=flat-square&logo=Joomla&logoColor=777"
        alt="Joomla"
      />
      <img
        src="https://img.shields.io/badge/MODX-eee?style=flat-square&logo=MODX&logoColor=777"
        alt="MODX"
      />
      <img
        src="https://img.shields.io/badge/JQuery-eee?style=flat-square&logo=JQuery&logoColor=777"
        alt="JQuery"
      />
    </p>
    <p slot="content">
      <img
        src="https://img.shields.io/badge/PHP-eee?style=flat-square&logo=PHP&logoColor=777"
        alt="PHP"
      />
      <img
        src="https://img.shields.io/badge/HTML-eee?style=flat-square&logo=HTML5&logoColor=777"
        alt="HTML"
      />
      <img
        src="https://img.shields.io/badge/CSS-eee?style=flat-square&logo=CSS3&logoColor=777"
        alt="CSS"
      />
      <img
        src="https://img.shields.io/badge/JS-eee?style=flat-square&logo=javascript&logoColor=777"
        alt="JS"
      />
    </p>
  </TimelineCasebox>
  <TimelineCasebox>
    <Examples
      client:visible
      addons={[
        "/folio/2013-2015/carlux.png",
        "/folio/2013-2015/saprom.png",
        "/folio/2013-2015/sniper.png",
        "/folio/2013-2015/avtomatica.png",
        "/folio/2013-2015/telsib.png",
      ]}
      content={[
        {
          title: "Сайт под ключ",
          description: "Сайт компании по продаже автозапчастей",
          mainSrc: "/folio/2013-2015/garag/index.png",
          logoSrc: "/folio/2013-2015/garag/logo.png",
        },
        {
          title: "Дизайн/Вёрстка",
          description: "Сайт компании по продаже детского транспорта",
          mainSrc: "/folio/2013-2015/shopkoko/index.png",
          logoSrc: "/folio/2013-2015/shopkoko/logo.png",
        },
      ]}
      slot="slider"
    />
    <div class="timeline-stamp" slot="content">2013 &ndash; 2015</div>
    <h2 slot="content">Веб-разработчик полного цикла</h2>
    <p slot="content">
      Период оказался весьма пладотворным, так как позволил научиться достаточно
      быстро решать практически любые проблемы бизнеса и разрабатывать сложные
      веб-приложения используя <strong>функционально-компонентный подход</strong
      >.
    </p>
    <p slot="content">
      В этот период я использовал <strong>MODX Evolution</strong>, как основной
      инструмент для разработки сайтов и веб-приложений.
    </p>
    <p slot="content">
      Совмещение двух разных направлений веб-разработки - дизайна и
      программирования, позволило мне переключаться и быть более продуктивным,
      так как пока я занимался дизайном - мой мозг отдыхал от кода и наоборот.
    </p>
    <hr slot="content" />
    <h4 slot="content">Стек технологий:</h4>
    <p slot="content">
      <img
        src="https://img.shields.io/badge/MODX-eee?style=flat-square&logo=MODX&logoColor=777"
        alt="MODX"
      />
      <img
        src="https://img.shields.io/badge/JQuery-eee?style=flat-square&logo=JQuery&logoColor=777"
        alt="JQuery"
      />
    </p>
    <p slot="content">
      <img
        src="https://img.shields.io/badge/PHP-eee?style=flat-square&logo=PHP&logoColor=777"
        alt="PHP"
      />
      <img
        src="https://img.shields.io/badge/HTML-eee?style=flat-square&logo=HTML5&logoColor=777"
        alt="HTML"
      />
      <img
        src="https://img.shields.io/badge/CSS-eee?style=flat-square&logo=CSS3&logoColor=777"
        alt="CSS"
      />
      <img
        src="https://img.shields.io/badge/JS-eee?style=flat-square&logo=javascript&logoColor=777"
        alt="JS"
      />
    </p>
  </TimelineCasebox>
  <TimelineCasebox>
    <Examples
      client:visible
      addons={[
        "/folio/2015-2018/airtransfer.png",
        "/folio/2015-2018/auxlink.png",
        "/folio/2015-2018/gabriel.png",
        "/folio/2015-2018/sgranit.png",
        "/folio/2015-2018/babytime.png",
      ]}
      content={[
        {
          title: "Сайт под ключ",
          description: "Сайт компании по продаже спортивной одежды и обуви",
          mainSrc: "/folio/2015-2018/kelme/index.png",
          logoSrc: "/folio/2015-2018/kelme/logo.png",
        },
        {
          title: "Сайт под ключ",
          description: "Сайт для компании работодателя",
          mainSrc: "/folio/2015-2018/antidrone/index.png",
          logoSrc: "/folio/2015-2018/antidrone/logo.png",
        },
      ]}
      slot="slider"
    />
    <div class="timeline-stamp" slot="content">2015 &ndash; 2018</div>
    <h2 slot="content">Архитектор пользовательского поведения</h2>
    <p slot="content">
      Хотя в этот период я всё ещё продолжал вести разработку сайтов на MODX,
      возникали всё новые задачи, которые требовали более глубокого погружения в
      архитектуру. Немаловажную роль в этом сыграло участие в проекте связанном
      с цифровой криминалистикой и разработкой системы для анализа графических
      данных. Закономерно, что в этот период я начал изучать <strong
        >Nodejs</strong
      >. Кроме того появилась большая свобода для использования SVG.
    </p>
    <p slot="content">
      Также в этот период мне стало совершенно ясно что менеджерская работа -
      это точно не про меня. Из меня получился хороший ремесленник, и совсем
      плохой начальник.
    </p>
    <hr slot="content" />
    <h4 slot="content">Стек технологий:</h4>
    <p slot="content">
      <img
        src="https://img.shields.io/badge/MODX-eee?style=flat-square&logo=MODX&logoColor=777"
        alt="MODX"
      />
      <img
        src="https://img.shields.io/badge/JQuery-eee?style=flat-square&logo=JQuery&logoColor=777"
        alt="JQuery"
      />
      <img
        src="https://img.shields.io/badge/Nodejs-eee?style=flat-square&logo=Node.js&logoColor=777"
        alt="Nodejs"
      />
      <img
        src="https://img.shields.io/badge/Express-eee?style=flat-square&logo=Express&logoColor=777"
        alt="Express"
      />
      <img
        src="https://img.shields.io/badge/Electron-eee?style=flat-square&logo=Electron&logoColor=777"
        alt="Electron"
      />
      <img
        src="https://img.shields.io/badge/React-eee?style=flat-square&logo=React&logoColor=777"
        alt="React"
      />
    </p>
    <p slot="content">
      <img
        src="https://img.shields.io/badge/PHP-eee?style=flat-square&logo=PHP&logoColor=777"
        alt="PHP"
      />
      <img
        src="https://img.shields.io/badge/HTML-eee?style=flat-square&logo=html5&logoColor=777"
        alt="HTML"
      />
      <img
        src="https://img.shields.io/badge/CSS-eee?style=flat-square&logo=css3&logoColor=777"
        alt="CSS"
      />
      <img
        src="https://img.shields.io/badge/JS-eee?style=flat-square&logo=javascript&logoColor=777"
        alt="JS"
      />
      <img
        src="https://img.shields.io/badge/SVG-eee?style=flat-square&logo=SVG&logoColor=777"
        alt="SVG"
      />
    </p>
  </TimelineCasebox>
  <TimelineCasebox>
    <Examples
      client:visible
      addons={[
        "/folio/2018-2021/format.png",
        "/folio/2018-2021/pesnyary.png",
        "/folio/2018-2021/dcompany.png",
        "/folio/2018-2021/vichouse.png",
        "/folio/2018-2021/tgt.png",
      ]}
      content={[
        {
          title: "Сайт под ключ",
          description: "Сайт для компании работодателя",
          mainSrc: "/folio/2018-2021/ultimateforensics/index.png",
          logoSrc: "/folio/2018-2021/ultimateforensics/logo.png",
        },
        {
          title: "Сайт под ключ",
          description: "Сайт для компании работодателя",
          mainSrc: "/folio/2018-2021/aething/index.png",
          logoSrc: "/folio/2018-2021/aething/logo.png",
        },
      ]}
      slot="slider"
    />
    <div class="timeline-stamp" slot="content">2018 &ndash; 2021</div>
    <h2 slot="content">Дилетант широчайшего профиля</h2>
    <p slot="content">
      Замечательное время, которое позволило понять что для того, чтобы получить <strong
        >MVP</strong
      > достаточно всего двух разрабочиков. Один из которых можешь быть ты. А ещё
      примерка на себя эффекта Даннинга-Крюгера и синдром самозванца во всей красе.
    </p>
    <p slot="content">
      Отрицательный опыт - это тоже опыт. В этот период я понял, что не стоит
      браться за проекты, которые не имеют чёткого плана развития и
      финансирования, однако благодая этому опыту я смог понять, что мне
      действительно нравится и что я хочу делать.
    </p>
    <hr slot="content" />
    <h4 slot="content">Стек технологий:</h4>
    <p slot="content">
      <img
        src="https://img.shields.io/badge/MODX-eee?style=flat-square&logo=MODX&logoColor=777"
        alt="MODX"
      />
      <img
        src="https://img.shields.io/badge/Nodejs-eee?style=flat-square&logo=Node.js&logoColor=777"
        alt="Nodejs"
      />
      <img
        src="https://img.shields.io/badge/Express-eee?style=flat-square&logo=Express&logoColor=777"
        alt="Express"
      />
      <img
        src="https://img.shields.io/badge/React-eee?style=flat-square&logo=React&logoColor=777"
        alt="React"
      />
    </p>
    <p slot="content">
      <img
        src="https://img.shields.io/badge/PHP-eee?style=flat-square&logo=PHP&logoColor=777"
        alt="PHP"
      />
      <img
        src="https://img.shields.io/badge/HTML-eee?style=flat-square&logo=html5&logoColor=777"
        alt="HTML"
      />
      <img
        src="https://img.shields.io/badge/CSS-eee?style=flat-square&logo=css3&logoColor=777"
        alt="CSS"
      />
      <img
        src="https://img.shields.io/badge/JS-eee?style=flat-square&logo=javascript&logoColor=777"
        alt="JS"
      />
      <img
        src="https://img.shields.io/badge/TS-eee?style=flat-square&logo=typescript&logoColor=777"
        alt="TS"
      />
      <img
        src="https://img.shields.io/badge/SVG-eee?style=flat-square&logo=SVG&logoColor=777"
        alt="SVG"
      />
      <img
        src="https://img.shields.io/badge/Docker-eee?style=flat-square&logo=Docker&logoColor=777"
        alt="Docker"
      />
    </p>
  </TimelineCasebox>
  <TimelineContentbox>
    <div class="timeline-stamp" slot="content">2021 &ndash; н.в.</div>
    <h2 slot="content">Творческий амбидекстер</h2>
    <p slot="content">
      С 2010 года я хотел попробовать <strong>Ruby/RoR</strong> и вот наконец мне
      это удалось. Как оказалось, что даже после <strong>10 лет</strong> от разработки
      можно получать удовольствие. Мне не удалось полностью сменить стек на <strong
        >Ruby</strong
      > из-за особенностей рынка (высокая востребованность и популярность JavaScript),
      но у меня остались о нём только самые тёплые впечатления.
    </p>
    <p slot="content">
      В настоящий момент я просто без ума от связки <strong
        ><img src="/i/icons/elixir.svg" height="20px" alt="Elixir" /> Elixir / <img
          src="/i/icons/phoenix.svg"
          height="20px"
          alt="Phoenix"
        /> Phoenix / <img
          src="/i/icons/svelte.svg"
          height="20px"
          alt="Svelte"
        /> LiveSvelte (LiveView)</strong
      >, особенно от той гибкости, которую они дают в плане реализации
      масштабируемых и отказоустойчивых приложений. Поэтому в ближайшее время я
      планирую полностью переключиться на этот стек.
    </p>
    <hr slot="content" />
    <h4 slot="content">Стек технологий:</h4>
    <p slot="content">
      <img
        src="https://img.shields.io/badge/MODX-eee?style=flat-square&logo=MODX&logoColor=777"
        alt="MODX"
      />
      <img
        src="https://img.shields.io/badge/Vite-eee?style=flat-square&logo=Vite&logoColor=777"
        alt="Vite"
      />
      <img
        src="https://img.shields.io/badge/Astro-eee?style=flat-square&logo=Astro&logoColor=777"
        alt="Astro"
      />
      <img
        src="https://img.shields.io/badge/Phoenix-eee?style=flat-square&logo=Phoenix&logoColor=777"
        alt="Phoenix"
      />
      <img
        src="https://img.shields.io/badge/Nodejs-eee?style=flat-square&logo=Node.js&logoColor=777"
        alt="Nodejs"
      />
      <img
        src="https://img.shields.io/badge/Express-eee?style=flat-square&logo=Express&logoColor=777"
        alt="Express"
      />
      <img
        src="https://img.shields.io/badge/React-eee?style=flat-square&logo=React&logoColor=777"
        alt="React"
      />
      <img
        src="https://img.shields.io/badge/Svelte-eee?style=flat-square&logo=Svelte&logoColor=777"
        alt="Svelte"
      />
    </p>
    <p slot="content">
      <img
        src="https://img.shields.io/badge/Elixir-eee?style=flat-square&logo=Elixir&logoColor=777"
        alt="Elixir"
      />
      <img
        src="https://img.shields.io/badge/Ruby-eee?style=flat-square&logo=Ruby&logoColor=777"
        alt="Ruby"
      />
      <img
        src="https://img.shields.io/badge/PHP-eee?style=flat-square&logo=PHP&logoColor=777"
        alt="PHP"
      />
      <img
        src="https://img.shields.io/badge/HTML-eee?style=flat-square&logo=html5&logoColor=777"
        alt="HTML"
      />
      <img
        src="https://img.shields.io/badge/CSS-eee?style=flat-square&logo=css3&logoColor=777"
        alt="CSS"
      />
      <img
        src="https://img.shields.io/badge/JS-eee?style=flat-square&logo=javascript&logoColor=777"
        alt="JS"
      />
      <img
        src="https://img.shields.io/badge/TS-eee?style=flat-square&logo=typescript&logoColor=777"
        alt="TS"
      />
      <img
        src="https://img.shields.io/badge/SVG-eee?style=flat-square&logo=SVG&logoColor=777"
        alt="SVG"
      />
      <img
        src="https://img.shields.io/badge/Docker-eee?style=flat-square&logo=Docker&logoColor=777"
        alt="Docker"
      />
    </p>
    <p slot="content">
      <strong> Спасибо, что дочитали до конца.</strong>
    </p>
  </TimelineContentbox>
</Folio>
<PreviewGallery client:only />
