main {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  background: var(--ambient);
  height: 100vh;

  & > .contentBox {
    display: flex;
    margin: auto;
  }
}
