main {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  height: 100vh;

  & > .contentBox {
    display: flex;
    margin: auto;
  }

  [data-theme='dark'] & {
    background: var(--background);
  }
}
