article#timeline {
  position: fixed;
  display: flex;
  flex: initial;
  z-index: 50;
  overflow: hidden;
  overflow-y: auto;
  height: 100vh;
  width: 100%;
  flex-direction: column;
  flex-wrap: nowrap;
}

article#timeline > section {
  display: flex;
  position: static;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  position: relative;
}

.timeline-contentbox:first-of-type .timeline-stamp::after,
article#timeline > section::before {
  content: "";
  position: absolute;
  margin: auto;
  background: radial-gradient(var(--base-color), var(--link-hover-color));
  height: 6px;
  width: 6px;
  border-radius: 50%;
  z-index: 2;
  box-shadow: 0 0 0 0.15rem #d71e0050, 0 0 0 0.3rem #d71e0020,
    0 1px 2rem #d71e0005;
}

article#timeline > section::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 100%;
  background: #333;
  background: linear-gradient(to bottom, #111, var(--base-color), #111);
  box-shadow: 0 1px 0.5rem #d71e0030;
  margin: auto;
}

article#timeline > section:first-of-type::before {
  display: none;
  visibility: hidden;
}

article#timeline > section:first-of-type:after {
  top: calc(50% - 200px);
  background: linear-gradient(
    to bottom,
    transparent,
    transparent,
    transparent,
    transparent,
    transparent,
    var(--base-color),
    #111,
    #111
  );
  height: calc(50% + 200px);
}

article#timeline > section:last-of-type::before {
  top: 50%;
}

article#timeline > section:last-of-type:after {
  top: 0;
  background: linear-gradient(to bottom, #111, var(--base-color));
  height: 50%;
}

section.timeline-contentbox aside.content {
  position: relative;
  padding: 2rem;
  text-align: center;
  max-width: 1000px;
  z-index: 2;
}

section.timeline-contentbox:last-of-type aside.content::after {
  content: "";
  background: linear-gradient(
    to right,
    transparent,
    transparent,
    #ddd,
    transparent,
    transparent
  );
  position: absolute;
  top: 10%;
  bottom: 10%;
  left: 50%;
  display: block;
  height: 80%;
  width: 3rem;
  margin: auto -1.5rem;
  z-index: -1;
  filter: blur(2px);
}

section.timeline-contentbox aside.content img {
  vertical-align: middle;
}

section.timeline-contentbox aside.content h2 {
  position: relative;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
}

section.timeline-contentbox aside.content h2::after {
  content: "";
  position: absolute;
  bottom: -1rem;
  left: 50%;
  margin: 0 -3rem;
  width: 6rem;
  height: 2rem;
  background: var(--sign-hr) no-repeat center center;
  background-size: contain;
  border-bottom: none;
}

section.timeline-contentbox aside.content p {
  line-height: 1.5rem;
  margin-bottom: 1rem;
}

section.timeline-casebox aside.works-slider {
  width: 50%;
  height: 90%;
  padding: 4rem;
}

section.timeline-casebox section.content {
  position: relative;
  padding: 4rem;
  width: 50%;
  min-width: 320px;
  max-width: 600px;
  margin-right: auto;
  transform: perspective(1000px) rotateY(-2deg);
  transition: 0.3s;
}

section.timeline-casebox section.content:first-child {
  left: 50%;
}

section.timeline-casebox section.content:hover {
  transform: none;
}

section.timeline-casebox section.content p {
  line-height: 1.5rem;
  margin-bottom: 1rem;
}

.timeline-stamp {
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: bold;
  position: relative;
  display: inline-block;
  padding: 1.2rem 1.4rem;
  color: #333;
  font-size: 1.6rem;
  text-shadow: 0 1px 0 #fff;
  margin: 0 0 2rem;
  background: none;
  letter-spacing: 0.15rem;
  border-radius: 0.1rem;
  border: 1px solid;
  border-image: linear-gradient(
      -155deg,
      var(--base-dark),
      var(--base-dark),
      var(--base-color)
    )
    5;
  box-shadow: 0 1px 0.5rem #d71e0030;
}

.timeline-stamp::before {
  position: absolute;
  content: "Период:";
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: bold;
  top: -1.2rem;
  left: 0;
  letter-spacing: 0.02rem;
  color: var(--base-border);
}

.timeline-contentbox:first-of-type .timeline-stamp::after {
  bottom: -3px;
  left: calc(50% - 3px);
  right: auto;
}

.timeline-contentbox .timeline-stamp {
  border-image: linear-gradient(
      to bottom,
      var(--base-dark),
      var(--base-dark),
      var(--base-color)
    )
    5;
}

.timeline-stamp + h2 {
  position: relative;
}

.timeline-stamp + h2::after {
  content: "";
  position: absolute;
  bottom: 0rem;
  left: 0;
  width: 2rem;
  border-bottom: 1px dotted var(--base-dark);
}

@media (max-width: 1000px) {
  article#timeline {
    padding: 4rem 0;
  }
  article#timeline > section {
    display: block;
    flex-direction: column;
    align-items: center;
    min-height: auto;
  }

  article#timeline > section::before,
  article#timeline > section::after {
    display: none;
    visibility: hidden;
  }

  section.timeline-contentbox aside.content,
  section.timeline-casebox section.content {
    position: relative;
    transform: none;
    width: 100%;
    max-width: 100%;
    padding: 2rem;
  }
}

@media (max-width: 430px) {
  article#timeline {
    background: #eee9;
    backdrop-filter: blur(10px);
  }

  section.timeline-casebox section.content {
    text-align: center;
  }

  .timeline-stamp {
    margin: 0 auto 1rem;
  }
}
