.lamp {
  position: absolute;
  left: 50%;
  top: -200px;
  align-self: flex-start;
  filter: blur(1px);
  width: 1000px;
  height: 1000px;
  user-select: none;
  margin-left: calc(var(--moveX) * -0.1px);
  background: url(/i/lamp.png) no-repeat center center;
  will-change: margin-left, transform;
  transform: perspective(50em) translateZ(-500px) scale(1.5);
  pointer-events: none;
}
