nav[data-role="header-navbar"] {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 2rem;
  margin: 0 0 1rem;
  background: linear-gradient(to bottom, #eee9, transparent, transparent);
  z-index: 100;
  backdrop-filter: blur(10px);
  user-select: none;
}
nav[data-role="header-navbar"]::before {
  content: "";
  position: absolute;
  width: 70%;
  left: 15%;
  top: 0;
  height: 2px;
  background: radial-gradient(var(--baseDark), transparent 70%, transparent);
}
nav[data-role="header-navbar"]::after {
  content: "";
  position: absolute;
  top: -3px;
  left: 0;
  right: 0;
  height: 5px;
  width: 100%;
  background: radial-gradient(var(--baseColor), #fff);
  filter: blur(10px);
  opacity: 0.5;
}

nav[data-role="header-navbar"] > * {
  position: relative;
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0.75rem 1rem;
  font-size: 1.1rem;
  color: var(--baseDark);
  font-family: "PT Sans Narrow", sans-serif;
  text-transform: uppercase;
  border-top: 2px solid transparent;
  white-space: nowrap;
}

nav[data-role="header-navbar"] a {
  text-decoration-thickness: 1px;
  text-decoration-style: dotted;
  text-decoration-color: var(--baseColor);
}

nav[data-role="header-navbar"] a:hover {
  text-decoration-style: solid;
}

nav[data-role="header-navbar"] span {
  font-weight: bold;
  border-top-color: var(--baseColor);
}

nav[data-role="header-navbar"] > *:not(:last-child)::before {
  content: "\25A0";
  position: absolute;
  font-weight: bold;
  right: -19px;
  font-size: 50%;
  color: var(--baseBorder);
}

@media (max-width: 425px) {
  nav[data-role="header-navbar"] > * {
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
  }
}
