.contacts {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  text-align: left;
  padding: 4rem 2rem;
  backdrop-filter: blur(10px);
  background: linear-gradient(to bottom, #ccc, #ccc, #cccccc80, transparent);
  box-shadow: 0 2px 20px #00000005;
}
.contacts .logo {
  margin-bottom: 2rem;
  user-select: none;
  filter: drop-shadow(0 1px 0 #fff);
  filter: invert(0.2) drop-shadow(0 1px 0 #fff);
  transition: 0.5s;
}
.contacts .logo:hover {
  transform: scale(1.05);
}
.contacts a {
  color: var(--baseDark);
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-thickness: 1px;
  text-decoration-color: var(--baseDark);
}
.contacts a:hover {
  text-decoration-color: var(--baseColor);
  text-decoration-style: solid;
}
.contacts a.logo-wrapper {
  text-decoration: none;
}
span.github-icon,
span.linkedin-icon,
span.mail-icon,
span.skype-icon,
span.phone-icon,
span.telegram-icon,
span.tab {
  display: inline-block;
  margin: 5px 10px -5px 0px;
  width: 20px;
  height: 20px;
  padding: 0;
  filter: grayscale(100%) brightness(30%)
    drop-shadow(0 1px 0 rgba(255, 255, 255, 0.7));
  transition: all 0.25s linear;
}
span.phone-icon {
  background: url(/i/phone.svg) no-repeat center center;
  background-size: 80%;
}
span.mail-icon {
  background: url(/i/letter.svg) no-repeat center center;
  background-size: 115%;
}
span.skype-icon {
  background: url(/i/skype.svg) no-repeat center center;
  background-size: contain;
}
span.telegram-icon {
  background: url(/i/telegram.svg) no-repeat center center;
  background-size: contain;
}
span.github-icon {
  background: url(/i/github.svg) no-repeat center center;
  background-size: contain;
}
span.linkedin-icon {
  background: url(/i/linkedin.svg) no-repeat center center;
  background-size: contain;
}
.phone-wrapper:hover span.phone-icon {
  animation: phone-bell 3s ease infinite;
  filter: drop-shadow(0 2px 5px rgba(255, 255, 255, 0.75));
}

.icon-wrapper:hover > span {
  animation: ico-pulse 1s ease-in infinite;
  filter: grayscale(0) brightness(1)
    drop-shadow(0 2px 5px rgba(255, 255, 255, 0.75));
}
