.themeSwitcher {
  display: flex;
  gap: 0.25em;
  align-items: center;
  margin: 0 2em;

  [data-theme='dark'] & {
    color: var(--light);
  }

  input[type='checkbox'].ambivalent {
    transition: 0.3s;
    width: 2em;
    height: 1.2rem;
    background-size: 0.75em;
  }

  &[data-current='light'] input[type='checkbox'].ambivalent {
    background-image: url(/i/sun.svg);
    background-position: 0.3em center;
  }

  &[data-current='dark'] input[type='checkbox'].ambivalent {
    background-image: url(/i/moon.svg);
    background-position: calc(100% - 0.3em) center;
    filter: var(--inverted);
    opacity: 0.75;
  }
}
